body {
    width: 1200px;
    margin: 0 auto;

    font-family: "Arial", "sans-serif";
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

input, button {
    margin: 0;
    vertical-align: middle;
}

ul {
    list-style: none;
    padding: 0;
}

/*
 * LOBBY
 */
#lobby {
    text-align: center;
}

#title {
}

#prompt-name {
    width: 800px;
    margin: 0 auto;
}

#name-input {
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    width: 600px;
}

#name-submit {
    box-sizing: border-box;
    width: 100px;
    height: 45px;

    border: none;
    color: white;
    background-color: #1E66E3;
}

#name-submit:hover {
    background-color: #528AEB;
}

#lobby-players {
    text-align: left;
    width: 500px;
    margin: 0 auto;
}

#lobby-players div {
    vertical-align: middle;
}

#lobby-players span {
    vertical-align: middle;
}

#lobby-players li {
    margin: 10px 0;
}

#ready-button {
    box-sizing: border-box;
    width: 100px;
    height: 45px;

    border :none;
    color: white;
    background-color: #5BBD3A;
}

#ready-button:hover {
    background-color: #58D130;
}

/*
 * GAME
 */
#game {
}

/*
 * MISC
 */
.circle {
    border-radius: 50%;
}

.lobby-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;

    margin-right: 20px;
}

.indicator-ready {
    background-color: green;
}

.indicator-waiting {
    background-color: yellow;
}
